/* Navbar.css */
.navbar {
    background: linear-gradient(90deg, #7400b8, #6930c3, #5e60ce);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
  }
  
  .navbar h1 {
    font-size: 24px;
    font-weight: bold;
  }
  